<div class="container"> 
  <h1>Employees (<%= link_to "+", new_employee_path %>)</h1>

  <div class="col">
    <% @employee.each do |employee| %>
    <div class="row">
      <li> <%= link_to employee.name, employee %> </li>
    </div>
    <% end %>
  </div>
</div>