<div> 
  <h1>Managers (<%= link_to "+", new_manager_path %>)</h1>

  <div class="col">
    <% @manager.each do |manager| %>
    <div class="row">
      <li> <%= link_to manager.name, manager %> </li>
    </div>
    <% end %>
  </div>
  <div class="my-2">
    <%= link_to "<< Go Back", :root, class: "mx-auto my-2" %>
  </div>
</div>