<div>
  <div class="col text-center my-3">
    <h1>Welcome to Employee-Management</h1>
  </div>
  <div class="my-4">
    <div class="row">
      <div id="employee_section" class="border rounded col-md-5 col-6 mx-auto py-5" role="button">
        <h2>Manage Employee</h2>
      </div>
      <div id="manager_section" class="border rounded col-md-5 col-6 mx-auto py-5" role="button">
        <h2>Manage Manager</h2>
      </div>
    </div>
  </div>
</div>
